/.project
*.*~
.settings
.vscode
.idea/
.DS_Store
*.bak

/temporary/*
!/temporary/.htaccess

# the kimai config file
/includes/autoconf.php

#jquery ui
/components/**
/libraries/**
# libraries that will be autoloaded but cannot be fetched from external repositories
!/libraries/Kimai/
!/libraries/jQuery/
!/libraries/phpclasses/
!/libraries/TinyButStrongPlugins/

