/.project
*.*~
.settings
.idea/
.DS_Store

/temporary/*
!/temporary/.htaccess

# the kimai config file
/includes/autoconf.php

/libraries/*
# libraries that will be autoloaded but cannot be fetched from external repositories
!/libraries/Kimai/
!/libraries/jQuery/
!/libraries/phpclasses/
!/libraries/phpjs/
!/libraries/TinyButStrongPlugins/
