# siehe: 
# http://de.gitready.com/beginner/2009/01/19/ignoring-files.html
#
/.project

# kimai mobile
kimai-mobile

# totalcmd - Infos
descript.ion

# fcw-Dateien
*.fcw
*.2do

# config-file database
autoconf.php

# smarty-temp-files
%%*
*.*~
logfile.txt
