language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly

matrix:
  allow_failures:
    - php: 7.0
    - php: hhvm
    - php: hhvm-nightly

before_script:
  - ./.travis.install.sh

script:
  - ./vendor/bin/phpunit --configuration=phpunit.travis.xml