#ui-timepicker-div {
  background-color: #333;
  border: 1px solid #000;
  z-index:500 !important;
  display:none;
}

.ui-timepicker-title {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    margin: 2px 0 8px 0;
    padding-top:3px;
    height: 22px;
}

.periods {
    color: #FFF;
}

.ui-timepicker-hours {
	border-right: 1px solid black;
}

.ui-timepicker-hours td, .ui-timepicker-minutes td {
    cursor: pointer;
}

.ui-timepicker-hours td, .ui-timepicker-minutes td {
    background: url(../grfx/picker_bg_norm.png) no-repeat;
    width: 40px;
    height: 40px;
    color: #000;
    text-align: center;
}

.ui-timepicker-hours a, .ui-timepicker-minutes a {
    color: #000;
    text-decoration:none;
}

.ui-timepicker-hours td:hover, .ui-timepicker-minutes td:hover {
    background: url(../grfx/picker_bg_hover.png) no-repeat;
    color: #000;
}
