#adminPanel_extension_panel table {
  font-size: 11px;
  color: #363636;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #cccccc;
}
#adminPanel_extension_panel table th {
  height: 25px;
  background-color: #92968e;
  color: #ffffff;
  text-align: left;
  padding-left: 5px;
}
#adminPanel_extension_panel table td { padding-left: 5px; }
#adminPanel_extension_panel table tr {
  height: 20px;
  background-color: #eeeeee;
  border-bottom: 1px solid #b8b8b8;
}
#adminPanel_extension_panel table tr.even { background-color: #ffffff; }
#adminPanel_extension_panel td.option { width: 80px; }
