
.kimai-not-login { display:none !important; }
.kimai-footer { margin-top:2em !important; }
#projects-button { outline: none; }
#tasks-button { outline: none; }

.ui-mobile, .ui-mobile .ui-page { 
	margin: 0; 
	background:#43e820 url(../grfx/ki_twitter_bg.jpg) top left no-repeat;
	background-color:#43e820;
}
