fieldset.ap_ext_advanced {
    border:none;
}

fieldset.ap_ext_advanced div {
    border-bottom:1px dotted #666;
    padding: 5px 0;
}

fieldset.ap_ext_advanced div#formbuttons {
    border-bottom:none;
    padding: 5px 0;
}

#ap_ext_output {
    position:absolute;
    top:0;
    left:0;
    height:27px;
    width:100%;
    border: 1px solid black;
    border-bottom: 2px solid black;
    background:green;
    display:none;
    padding:10px;
    text-align:center;
    color:white;
    font-weight:bold;
}