.ap_ext_panel_header {
    margin:0;
    padding:0;
}

.ap_ext_panel_header a {    
    background-image: url('../../../skins/standard/grfx/g3_table_header_lighter.png');
    height:19px;
    text-align:left;
    color:#333;
	font-size: 11px;
	display:block;
	padding:3px;
    height:19px;
}

div.active .ap_ext_panel_header a {
    background-image: url('../../../skins/standard/grfx/g3_table_header.png');
	/* TODO: mist! wie kriege ich denn hier die skin gesetzt??? */
	color:#fff !important;
	font-weight:bold;
}

.ap_ext_panel_header a:hover {
    background-image: url('../../../skins/standard/grfx/g3_table_header.png');
	color:#fff;
}

.ap_ext_subtab
{	
    border-bottom:1px solid black;
	overflow:auto;
	padding:10px;
}

span.ap_ext_accordeon_triangle {
	padding:5px;
	background:url("../grfx/accordion.png") no-repeat;
	background-position:0px 8px;
}

div.active span.ap_ext_accordeon_triangle {
	background:url("../grfx/accordion_active.png") no-repeat;
	background-position:0px 8px;
}

.ap_ext_advanced_row {
	margin-bottom:3px;
}