div.ki_export table {
    border-collapse: collapse;
    font-size: 11px;
    color: #363636;
    border-bottom:1px solid #888;
}
div.ki_export table a.preselect_lnk {
    color: #363636;
    text-decoration:none;
    border-bottom:1px dotted #bbb;
}

div.ki_export table a:hover {
    color: #0F9E00;
    border-bottom:none;
}

div.ki_export table thead {
    height:25px;
    text-align:left;
    color:#FFF;
}

div.ki_export table thead th {
    background-image: url('../../../skins/standard/grfx/g3_table_header.png');
}

div.ki_export tr.even td,
div.ki_export tr.odd td
{
    border-bottom: none;
    border-left: none;
    border-right: 1px dotted #CCC;
/*    border-top: 1px solid #DDD;*/
    padding: 3px 4px 4px 5px;
}
#xp_head td {padding: 3px 4px 4px 6px;}

div.ki_export tr.hover td {
    background: #FFC !important;
/*    border-top: 1px solid #666 !important;
    border-bottom: 1px solid #666 !important;*/
}

div.ki_export tr.even td {
    background: #FFF;
}

div.ki_export tr.odd td {
    background: #EEE;
}

div#xptable tr td.time {
    border-bottom:1px dotted white;;
}

div#xptable tr.even td.time {
    background: #A4E7A5;
}

div#xptable tr.odd td.time {
    background: #64BF61;
}

div#xptable tr.active td.time {
    background: #F00;
}

div.ki_export tr td.option,
div.ki_export tr td.date,
div.ki_export tr td.from,
div.ki_export tr td.to,
div.ki_export tr td.time,
div.ki_export tr td.wage {
    text-align:center;
}

div.ki_export a {
    margin: 0 3px;
}

div.ki_export>div#xp>div#xptable>table>tbody>tr>td.evt {
    border-right: none;
}



#xp_head td.option,
#xp td.option
{
    width:70px;
}

#xp_head td.date,
#xp td.date
{
    width:50px;
}

#xp_head td.time,
#xp td.time
{
    width:40px;
}

#xp_head td.wage,
#xp td.wage
{
    width:40px;
}

#xp_head td.from,
#xp_head td.to,
#xp td.from,
#xp td.to
{
    width:50px;
}

div.ki_export table td.cleared
{
	width:20px;
	text-align:left;
}
div.ki_export table td.cleared a
{
width:13px;
height:13px;
display:block;
float:left;
}

div.ki_export table td.cleared a.is_cleared
{
background:url('../grfx/cleared.png') 0 -13px  no-repeat;
}

div.ki_export table td.cleared a.isnt_cleared
{
background:url('../grfx/cleared.png') no-repeat;
}





div#xp_head div.right
{ 
    position:absolute;
    overflow:hidden;
    width:32px;
    height:20px;
    top:3px;
    right:3px;
}

div#xp_head div.right a
{ 
    background-image: url('../grfx/invert.png');
    overflow:hidden;
    display:block;
    width:22px;
    height:16px;
    text-indent:-500px;

}

div#xp_head td {padding: 3px 4px 4px 6px;}


tbody tr.comm0 td {
    padding:5px;
    background: #fff;
    background-image:url(../../../skins/standard/grfx/schraff0.gif);
}

tbody tr.comm1 td {
    padding:5px;
    background: #ff9;
    background-image:url(../../../skins/standard/grfx/schraff1.gif);
}

tbody tr.comm2 td {
    padding:5px;
    background: #f00;
    background-image:url(../../../skins/standard/grfx/schraff2.gif);
    font-weight:bold;
    color:#fff;
}

.break_day {
	border-top:1px solid black;
}
.break_gap {
	border-top:2px dotted #FF6FCF; /* Kathrin wollte das Pink haben ... */
}




