
.ui-datepicker {
  width:  298px;
  background-color: #333;
  border: 1px solid #000;
  z-index:500 !important;
  display:none;
}

.ui-datepicker-title {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    margin: 2px 0 8px 0;
    padding-top:3px;
    height: 22px;
    width: 302px;
}

.ui-datepicker-prev {
    position: absolute;
    top: 0;
    left: 6px;
    width: 65px;
    height: 20px;
    margin-top: 5px;
    margin-left: 1px;
}

.ui-datepicker-prev {
    float: left;
    width: 15px;
    height: 15px;
}

/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
.ui-datepicker-prev,
.ui-datepicker-next {
   cursor: pointer;
}
.ui-datepicker-prev .disabled,
.ui-datepicker-next .disabled {
   cursor: default;
}


.ui-datepicker-next {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 66px;
    height: 20px;
    margin-top: 5px;
    margin-right: 1px;
}

.ui-datepicker-next {
    float: right;
    width: 15px;
    height: 15px;
}

.ui-state-disabled {
   cursor: default;
   color: #aaa;
   opacity: 0.3;
   -moz-opacity: 0.3;
   filter:alpha(opacity=30);
}



.ui-datepicker-prev {
    background: url(grfx/picker_buttons.png) no-repeat -40px 0;
    display: block;
    padding-top: 5px;
    padding-right: 25px;
}

.ui-datepicker-next {
    background: url(grfx/picker_buttons.png) no-repeat -80px 0;
    display: block;
    padding-top: 5px;
    padding-right: 25px;
    font-size: 0;
    line-height: 0;
    margin-right: 3px;
}




.ui-datepicker-calendar td {
    cursor: pointer;
}

.ui-datepicker-calendar th {
    background: url(grfx/picker_bg_weekdays.png) no-repeat;
    width: 40px;
    height: 40px;
   color: #fff;
   font-weight: bold;
}

.ui-datepicker-calendar th.ui-datepicker-week-end {
    background: url(grfx/picker_bg_weekend.png) no-repeat;
}

.ui-datepicker-calendar td {
    background: url(grfx/picker_bg_norm.png) no-repeat;
    width: 40px;
    height: 40px;
    color: #000;
    text-align: center;
}


.ui-datepicker-calendar td.ui-datepicker-other-month {
    background: url(grfx/picker_bg_otherMonth.png) no-repeat;
    color: #aaa;
}

.ui-datepicker-calendar td.ui-datepicker-other-month:hover {
    background: url(grfx/picker_bg_otherMonth.png) no-repeat;
    color: #888;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable {
   cursor: default;
}


.ui-datepicker-calendar a {
    color: #000;
    text-decoration:none;
}

.ui-datepicker-calendar td:hover {
    background: url(grfx/picker_bg_hover.png) no-repeat;
    color: #000;
}


.ui-datepicker-calendar td.ui-datepicker-today {
    background: url(grfx/picker_bg_today.png) no-repeat;
    font-weight: bold;
}

.ui-datepicker-calendar td.ui-datepicker-today:hover {
    background: url(grfx/picker_bg_today_hover.png) no-repeat;
}

.ui-datepicker-calendar td.ui-datepicker-today a {
    color: #fff;
}


.ui-datepicker-calendar td.ui-datepicker-current-day,
.ui-datepicker-calendar td.ui-datepicker-current-day:hover
{
    background: url(grfx/picker_bg_selected.png) no-repeat;
}

.ui-datepicker-calendar td.ui-datepicker-current-day a {
  color:#fff;
}
