#buzzer {
    position:absolute;
    top:7px;
    right:10px;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

#buzzer div {
    display: block;
    background: url(grfx/g3_buzzer.png) no-repeat 0 0px;
    width: 75px;
    height: 75px;
    text-indent: -1000px;
}

#buzzer div:hover {    
    cursor: pointer;
    background: url(grfx/g3_buzzer.png) no-repeat 0 -75px;
}

#buzzer.act div {
    background: url(grfx/g3_buzzer.png) no-repeat 0 -150px;
}

#buzzer.act div:hover {
    cursor: pointer;
    background: url(grfx/g3_buzzer.png) no-repeat 0 -225px;
}

#buzzer.disabled div, #buzzer.disabled div:hover {
    cursor: auto;
    background: url(grfx/g3_buzzer.png) no-repeat 0 -300px;
}