#settimer {
	/*display: inline-block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	text-align: center;
}

#settimer a,
#settimer a:visited {
	color: white;
}

#settimer a:hover {
	color: lightgray;
}