#stopwatch {
    position:absolute;
    font-size:11px;
    right:95px;
    top:11px;
    color:#51534A;
    overflow:hidden;
    width:224px;
    height:57px;
    display:block;
    z-index:20;
    
    background: -moz-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249,249,251,1)), color-stop(100%, rgba(224,226,199,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9FB', endColorstr='#E0E2C7',GradientType=0 ); /* ie6-9 */

	border-radius: 10px;
	border: 2px inset gray;

}

#stopwatch .watch {
    position:relative;
    color:red;
    top:14px;
    font-family:arial, sans-serif;
    font-size:35px;
    width:100%;
    padding:0;
    line-height:13px;
    display: inline-block;
    text-align: center;
}

#stopwatch_ticker {
    position:absolute;
    font-size:11px;
    right:97px;
    top:46px;
    color:#51534A;
    z-index:60;
}

#stopwatch_ticker ul {
    list-style-type: none;
}

#stopwatch_ticker ul li {
    text-align:center;
    width:220px;
    height:15px;
    margin-left:-40px;
    margin-top:-5px;
    padding:0;
    overflow:hidden;
}

*+html #stopwatch_ticker ul li {
    margin-top:-3px;
}