#display {
    color: #51534a;
    position:relative;
    margin:0;
    margin-left:-157px;
    top:10px;
    left:50%;
    width:314px;
    height:65px;
    
    background: -moz-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249,249,251,1)), color-stop(100%, rgba(224,226,199,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(224,226,199,1) 0%, rgba(249,249,251,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9FB', endColorstr='#E0E2C7',GradientType=0 ); /* ie6-9 */

	border-radius: 10px;
	border: 2px inset gray;
}

#display a,
#display a:visited
{
    color: #51534a;
    text-decoration:none;
}

#display a:hover
{
    background-color:#F7E8B8;
    color: #000;
}

#dates {    
    font-family:arial,sans-serif;
    font-size:24px;
    width:314px;
    height:30px;
    padding-top:10px;
    padding-bottom:0;
    text-align:center;

}

#infos {    
    width:314px;
    height:30px;
    text-align:center;
}

.datewarning {
        background:url("grfx/timeframe_warn.gif") repeat-x 0 23px;
}