#main_tools_menu {
    position:absolute;
    display:none;
    z-index:9;
    top:30px;
    left:257px;
    z-index:11;
    height:27px;
}

#main_tools_menu a {
    color:#000;
    font-size:11px;
    text-decoration:none;
}

#main_tools_menu div.slider {
    float:left;
    padding:4px;
    margin: 1px 0;
    height:17px;
    
	background: -moz-linear-gradient(270deg, rgba(244,244,244,1) 0%, rgba(148,148,148,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(148,148,148,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(244,244,244,1) 0%, rgba(148,148,148,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(244,244,244,1) 0%, rgba(148,148,148,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(244,244,244,1) 0%, rgba(148,148,148,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(148,148,148,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#949494',GradientType=0 ); /* ie6-9 */px;

	padding-right: 6px;
    border-radius: 0 5px 5px 0;
}
#main_tools_menu div.end {
    display: none;
}


