.menu {padding:2px 0 0 0; margin:0 5px; list-style:none;}
.menu li {padding:0; margin:0 3px 0 0; text-align:center;}

.menuBackground {
    background-color:#fff;
    height:23px;
}

.menu li:not(.ui-state-active) a.tabError span {
    color: #AF0000 !important;
}

.menu li span {
    height:18px;
    padding:3px 0 0 0;
}

.menu li{
    font-size:.9em;
    padding-top: 20px;
}

.menu li.act a span {
    color: #eee;
}


.menu a, .menu a:visited {
    color:#8e9eae;
    text-decoration:none;
    cursor:pointer;
}

.menu a:hover {
    color:#eee;
}

.menu a i {
    display: block;
}
